.select-wrapper {
  position: relative;
  ::ng-deep
    .ng-select.ng-select-focused:not(.ng-select-opened)
    > .ng-select-container {
    box-shadow: none;
    border: 1px solid var(--content-50);
  }

  ::ng-deep .with-background.ng-select .ng-select-container {
    background: var(--surface-muted) !important;
  }
  ::ng-deep .ng-select .ng-select-container {
    background-color: var(--surface-DEFAULT) !important;
    height: 100% !important;
    border: 1px solid var(--content-50);
  }

  ::ng-deep .ng-select.ng-select-disabled > .ng-select-container {
    background: var(--shade-80) !important;
    border: none;
    cursor: not-allowed;
  }

  ::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: none !important;
    border-style: none !important;
    border-width: 0 !important;
  }
  ::ng-deep .ng-select .ng-arrow-wrapper {
    background-image: url("../../../../assets/icons/drop-down.svg") !important;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    margin-top: 10px;
  }

  ::ng-deep .ng-dropdown-panel.ng-select-bottom {
    border: none;
    margin-top: 5px;
    box-shadow: 0px 4px 9px 0px rgba(75, 75, 75, 0.12);
    box-shadow: 0px 4px 9px 0px color-mix(in srgb, var(--content-DEFAULT) 12%, transparent);
  }

  ::ng-deep .ng-dropdown-panel {
    min-width: 200px !important;
  }

  ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input[readonly]{
    user-select: unset;
    -webkit-user-select: unset;
  }

  ::ng-deep
    .ng-dropdown-panel
    .ng-dropdown-panel-items
    .ng-option.ng-option-selected,
  .ng-dropdown-panel
    .ng-dropdown-panel-items
    .ng-option.ng-option-selected.ng-option-marked {
    background-color: var(--shade-80) !important;
  }

  ::ng-deep
    .ng-dropdown-panel
    .ng-dropdown-panel-items
    .ng-option.ng-option-marked {
    background-color: var(--shade-80) !important;
  }

  ::ng-deep
    .ng-select.external-chips.ng-select-multiple
    .ng-select-container
    .ng-value-container
    .ng-value {
    display: none;
  }

  ::ng-deep
    .ng-select.external-chips.ng-select-multiple
    .ng-select-container
    .ng-value-container
    .ng-placeholder {
    top: 8px;
  }

  .area-label {
    position: absolute;
    left: 11px;
    color: var(--content-50);
    z-index: 1;
    font-size: 0.875rem;
  }
}
